# Notebook 3: Operaciones de Administración de Base de Datos relacional

En el ciclo de vida de una base de datos relacional, a menudo el administrador de la BD tiene que realizar ciertas operaciones de mantención. Mencionamos en particular:

1- Realizar una copia de seguridad de los datos

2- Crear usuarios y definir permisos de acceso a la BD

3- Modificar la estructura de la BD

4- Agregar restricciones o reglas de integridad sobre la estructura de los datos

## Ejercicio 1: Crear una BD de prueba básica

Para realizar los ejercicios siguientes, primero vamos a crear una BD de prueba básica, llamada "Valdivia". Esta base de datos está constituida por 3 tablas:

- PERSONA(pk_RUT, Nombre, Edad)   (ej.: "1, Juan, 20")

- LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud)  (ej.; "1, Mercado Fluvial, Turismo, -39.81, -73.24")

- DESPLAZARSE(#pk_RUT, fecha, Latitud, Longitud)  (ej. "1, 30/09/2018 12:00:00, -39, -70")

1) Implementar la estructura de esta base de datos en MySQL indicando las claves primarias y foraneas y los tipos de datos

2) Insertar al menos 5 filas en cada tabla

3) ¿A qué tipo de aplicación podría servir esta base de datos?

<code>
    
CREATE SCHEMA Valdivia;

CREATE TABLE persona (
pk_RUT INT UNSIGNED NOT NULL AUTO_INCREMENT,
Nombre VARCHAR(45) NOT NULL,
Edad SMALLINT NOT NULL,
PRIMARY KEY  (pk_RUT)
)ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE lugar_de_interes (
pk_lugar INT UNSIGNED NOT NULL AUTO_INCREMENT,
Descripcion VARCHAR(150),
Categoría VARCHAR(45) NOT NULL,
Latitud DECIMAL(4,2) NOT NULL,
Longitud DECIMAL(4,2) NOT NULL,
PRIMARY KEY (pk_lugar)
)ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE desplazarse (
pk_RUT INT UNSIGNED NOT NULL,
fecha DATETIME NOT NULL,
Latitud DECIMAL(4,2) NOT NULL,
Longitud DECIMAL(4,2) NOT NULL,
FOREIGN KEY(pk_RUT) REFERENCES persona(pk_RUT)
)ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO persona (Nombre, Edad)
VALUES ("Ignacio", "20"),  
VALUES ("Pablo", "23"),
VALUES ("Alfredo", "14"),
VALUES ("Monica", "30"),
VALUES ("Jorge", "20");

INSERT INTO lugar_de_interes (Descripcion, Categoria, Latitud, Longitud)
VALUES ("Mercado Fluvial", "Turismo", "-39.81", "-73.24"),
VALUES ("UACh", "Educacion", "-19.81", "-73.23"),
VALUES ("Mall Plaza", "Compras", "-34.81", "-73.12"),
VALUES ("Puente Cau Cau", "Turismo", "-39.12", "-73.14"),
VALUES ("Fuerte Niebla", "Turismo", "-39.22", "-77.23");

INSERT INTO desplazarse (pk_RUT, fecha,Latitud, Longitud)
VALUES("4", "2018-08-12 12:00:00", "-39.13", "-71.23"),
VALUES("2", "2018-12-06 12:00:00", "-39.12", "-72.23"),
VALUES("1", "2018-08-23 12:00:00", "-39.11", "-73.23"),
VALUES("5", "2018-08-14 12:00:00", "-39.10", "-74.23"),
VALUES("3", "2018-08-15 12:00:00", "-39.09", "-75.23");

--> Esta Base de Datos podría ser utilizada por una agencia de Turismo dedicada a hacer viajes y recorridos

</code>

## Ejercicio 2: Realizar una copia de seguridad de una BD y exportar datos

<a href="https://dev.mysql.com/doc/refman/8.0/en/backup-and-recovery.html"> Backup and Recovery in MySQL</a>

1) ¿Por qué hacer copias de seguridad de su base de datos?

<code> Para que en caso de tener algún tipo de pérdida, problema, entre otras cosas. Podamos recuperar la información de manera 100% fiel </code>

2) Utilizar el comando <code>Mysqldump</code> para realizar una copia de su base de datos. ¿Cuál es el <i>output</i> de este comando?

<code> Este comando genera un archivo .sql que tiene almacenada la misma información encontrada dentro de la base de datos, ósea es un tipo de copia o respaldo. </code>

3) En algunos casos, queremos simplemente exportar datos para poder utilizarlos en otros contextos. ¿En qué consiste el formato de datos CSV? ¿Cómo exportar datos al formato CSV desde MySQL? (ver: <a href="http://www.mysqltutorial.org/mysql-export-table-to-csv/">Tutorial</a>)

In [ ]:
SELECT * FROM personas INTO OUTFILE 'C:/desktop/cancelled_orders.csv' 
FIELDS ENCLOSED BY '"' 
TERMINATED BY ';' 
ESCAPED BY '"' 
LINES TERMINATED BY '\r\n';

## Ejercicio 3: Gestionar usuarios y privilegios de lectura y escritura

En la configuración por defecto de MySQL, existe un sólo usuario, llamado 'root', lo cual tiene todos los derechos. En término de seguridad es muy poco recomendable trabajar siempre con el usuario 'root' (en particular cuando se deja los passwords en el código o un archivo de parametros). 

1) ¿Cuáles son los tipos de privilegios en una base de datos relacional?

<code> Privilegios relativos a las tablas, Privilegios relativos a lo administrativo y los Privilegios generales. </code>

2) Crear un nuevo usuario y darle todos los privilegios sobre la base de datos 'Valdivia'

3) Crear un nuevo usuario, lo cual tendrá solamente acceso de lectura sobre la tabla Lugar_de_interes y Desplazarse

In [ ]:
CREATE USER 'Usuario1'@'localhost' IDENTIFIED BY 'pass1';
GRANT ALL PRIVILEGES ON valdivia.* TO 'Usuario1'@'localhost';
FLUSH PRIVILEGES;

CREATE USER 'Usuario2'@'localhost' IDENTIFIED BY 'pass2';
GRANT SELECT ON valdivia.Lugar_de_interes TO 'Usuario2'@'localhost';
GRANT SELECT ON valdivia.Desplazarse TO 'Usuario2'@'localhost';
FLUSH PRIVILEGES;

## Ejercicio 4: Modificar la estructura de una Base de Datos

Supongamos que queremos modificar la estructura de la base de datos 'Valdivia'. 

1) Modificar la BD (sin borrarla) para agregar un campo 'nivel de estudio' en la tabla 'Persona'.

2) Modificar la BD (sin borrarla) para dejar la posibilidad de tener varias categorías para describir un lugar de interés (implica crear una tabla adicional)

3) Agregar una restricción para que las columnas "Latitud" y "Longitud" nuncan sean NULL

In [ ]:
ALTER TABLE persona ADD nivel_de_estudio VARCHAR(20) NULL;

LTER TABLE lugar_de_interes DROP COLUMN categoria;

CREATE TABLE categorias (
Nombre_categoria VARCHAR(45) NOT NULL,
PRIMARY KEY  (Nombre_categoria)
)ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE pertenece_categoria (
nom_cate VARCHAR(45) NOT NULL,
pk_lug VARCHAR(45) NOT NULL,
FOREIGN KEY (nom_cate) REFERENCES categorias (Nombre_categoria),
FOREIGN KEY (pk_lug) REFERENCES lugar_de_interes (pk_lugar)
)ENGINE=InnoDB DEFAULT CHARSET=utf8;

ALTER TABLE lugar_de_interes ALTER COLUMN Latitud NOT NULL
ALTER TABLE lugar_de_interes ALTER COLUMN Longitud NOT NULL
ALTER TABLE desplazarse ALTER COLUMN Latitud NOT NULL
ALTER TABLE desplazarse ALTER COLUMN Longitud NOT NULL

## Ejercicio 5 (opcional): Innovación para Valdivia - Smart City

1) Revisar el concurso "Desafio Smart City": https://www.innoving.cl/smartcity

2) Considerando que la empresa Telefonica del Sur podría darle acceso a ciertos datos telefónicos de la Ciudad, imaginar un escenario de innovación basado sobre una base de datos similar a aquella que creamos.